@charset "UTF-8";

hr {
    background-color: #FF9B3F;
    height: 2px;
    border: none;
    width: 300px;
    margin: 0 auto;
}

section h1 {
    font-size: 1.8rem;
    color: #FF9B3F;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

section.section-texto {
    max-width: 768px;
    padding: 10px;
}

section#ingredientes ul {
    max-width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

section#ingredientes li {
    font-family: 'Roboto Condensed';
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
}

section#modo-preparo ol {
    max-width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

section#modo-preparo li,
section#modo-preparo p {
    color: #323232;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}